@import url('https://fonts.googleapis.com/css?family=Courgette|Indie+Flower|Kalam|Lobster|Permanent+Marker|Source+Code+Pro&display=swap');
/*
font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Permanent Marker', cursive;
font-family: 'Courgette', cursive;
font-family: 'Kalam', cursive;
*/

*{
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
}

.BSTube{
    font-family: 'Lobster', cursive;
}




.container_video_presentation{
    align-items: center;
    justify-content: center;
    
    width: 100%;
}

.dashboard{
    position: absolute;
    
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.video_dashboard{
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.search{
    width: 100%;
}
.search_video{
    top:350px;
    left: 100px;
    position: absolute;
    z-index: 2;
}

.text_presentation_header{
    font-family: 'Courgette', cursive;
    top: 95px;
    left: 100px;
    position: absolute;
    z-index: 2;
    color: white;
}

.text_presentation_footer{
    font-family: 'Courgette', cursive;
    top: 600px;
    left: 100px;
    position: absolute;
    z-index: 2;
    color: white;
}

/*
font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Permanent Marker', cursive;
font-family: 'Courgette', cursive;
font-family: 'Kalam', cursive;
*/